<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="csvName" value="Cloud Software Engineer Coding Exercise Data.csv" />
		<add key="SimulationMillisecondsPerRealSecond" value="250" />
		<add key="TerminalRefreshRateMilliSec" value="250" />
	</appSettings>
</configuration>