<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="csvName" value="Cloud Software Engineer Coding Exercise Data.csv" />
		<add key="simSpeedFactor" value="9.51" />
		<add key="LIFTTIMEOPENINGMilliseconds" value="0" />

		<add key="SimulationMillisecondsPerRealSecond" value="1000" />
		<add key="TerminalRefreshRateMilliSec" value="250" />
	</appSettings>
</configuration>